@using OnlineStoreManager.Infracstructure;
@using OnlineStoreManager.Database.Models;
@using System.ComponentModel.DataAnnotations;
@model OnlineStoreManager.Models.ViewModels.ImportOrderIndexViewModel
@inject IPageMaster PageMaster
<!-- /* RENDER TABS */ -->
<script hide>
   $().w2tabs({
      name: '_tabs',
      active: '@ViewBag.TabName',
      style: 'display:flex;align-items:center;',
      tabs: [
         {
            id: '@TabName.WaitingImportOrd',
            text: '@PageMaster.GetTabName(TabName.WaitingImportOrd)'
         },
         {
            id: '@TabName.ImportedOrd',
            text: '@PageMaster.GetTabName(TabName.ImportedOrd)'
         },
         {
            id: '@TabName.CanceledImportOrd',
            text: '@PageMaster.GetTabName(TabName.CanceledImportOrd)'
         },
      ],
      onClick: function (event) {
         window.location.replace(`/@TabName.ImportedOrd?TabName=${event.target}`);
      }
   });
</script>

<!-- /*  RENDER GRID TOOLBAR */ -->
<script hide>

   var toolbarItemStyle = 'margin: 0 3.5px;';
   var _toolbarItems1 = [
      {
         type: 'html',
         html: function (item) {
            return `<button class="_small_btn @(ViewBag.TabName != TabName.PaidOrder ? "disable" : "")"`
               + `      style="${toolbarItemStyle}" `
               + `      onclick="IMPORT_ORDER_PAGE.onAdd()">`
               + `      <img class="small_icon" src="/icons/add.svg"/>`
               + `       Tạo mới `
               + `</button>`;
         },
      },
      {
         type: 'html',
         html: () => {
            return `<button class="_small_btn @(ViewBag.TabName != TabName.PaidOrder ? "disable" : "")"
                  style="${toolbarItemStyle}"
                  onclick="IMPORT_ORDER_PAGE.onDelete()">
                  <img class="small_icon" src="/icons/cancel.svg"/>
                  Xóa
               </button>`;
         },
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn @(ViewBag.TabName != TabName.PaidOrder ? "disable" : "" )"
                     style="${toolbarItemStyle}"
                     onclick="IMPORT_ORDER_PAGE.onEdit()">
                     <img class="small_icon" src="/icons/pen.svg"/>
                     Chỉnh sửa
                  </button>`;
         },
      },
      {
         type: 'break',
         style: 'margin: 0 21px;',
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn" style="${toolbarItemStyle}">
                     <img class="small_icon" src="/icons/calendar.svg"/>
                     <span class="bold_span"> Từ: </span>
                     <span> 23/4/2020 </span>
                  </button>`;
         }
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn" style="${toolbarItemStyle}">
                     <img class="small_icon" src="/icons/calendar.svg"/>
                     <span class="bold_span"> Đến: </span>
                     <span> 23/4/2020 </span>
                  </button>`;
         }
      },
      {
         type: 'break',
         style: 'margin: 0 21px;',
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <input class="toolbar_input" type="text"
                     extend_query="SearchText" submit_on_keypress
                     placeholder="Tìm kiếm ... "
                     style="padding-right: 30px; width: 150px; ${toolbarItemStyle}"/>`;
         }
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button style="margin-left: -27px;">
                      <img class="small_icon" src="/icons/search.svg"/>
                  </button>`;
         }
      },

      {
         type: 'break',
         style: 'margin: 0 21px;',
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn" style="${toolbarItemStyle}"
                     onclick="window.location.replace(@ViewBag.TabName)">
                     <img class="small_icon" src="/icons/reload.svg"/>
                     Tải lại </button>`;
         }
      },
      {
         tabs: ['@TabName.WaitingImportOrd'],
         type: 'html',
         html: function (item) {
            return `<button class="_small_btn" style="${toolbarItemStyle}"`
               + `      onclick="IMPORT_ORDER_PAGE.onAdd()">`
               + `       Hoàn tất đơn hàng `
               + `</button>`;
         },
      },
      {
         tabs: ['@TabName.WaitingImportOrd'],
         type: 'html',
         html: function (item) {
            return `<button class="_small_btn" style="${toolbarItemStyle}"`
               + `      onclick="IMPORT_ORDER_PAGE.onAdd()">`
               + `       Hủy đơn hàng `
               + `</button>`;
         },
      },
   ];

   $().w2toolbar({
      name: '_toolbar_top',
      style: 'height:50px;padding-top:11px;',
      items: _toolbarItems1.filter(p => {
         if (p.tabs)
            return p.tabs.find(p => p == '@ViewBag.TabName')
         return true;      // neu khong dinh nghia p.tabs, mac dinh la lay cho tat ca
      })
   });
</script>

<!-- /*  RENDER GRID */ -->
<script hide>
   @{
       var o = new ImportOrder();
       var captions = new
       {
          id = o.PropAttrValue<ImportOrder, DisplayAttribute>("Id", "Name"),
          createdDate = o.PropAttrValue<ImportOrder, DisplayAttribute>("CreatedDate", "Name"),
          completedDate = o.PropAttrValue<ImportOrder, DisplayAttribute>("CompletedDate", "Name"),
          deliveryDate = o.PropAttrValue<ImportOrder, DisplayAttribute>("ExpectedDeliveryDate", "Name"),
          description = o.PropAttrValue<ImportOrder, DisplayAttribute>("Description", "Name"),
          status = o.PropAttrValue<ImportOrder, DisplayAttribute>("OrderStatusId", "Name"),
          cancelDescription = "Lý do hủy đơn"
       };
   }

   var _columns = [
      { field: 'id', caption: '@captions.id', size: '5%' },
      { field: 'createddate', caption: '@captions.createdDate', size: '10%' },
      {
         tabs: ["@TabName.WaitingImportOrd"],
         field: 'expecteddeliverydate', caption: '@captions.deliveryDate', size: '10%'
      },
      {
         tabs: ["@TabName.CompletedOrder"],
         field: 'completeddate', caption: '@captions.createdDate', size: '10%'
      },
      { field: 'orderstatus', caption: '@captions.status', size: '10%' },

      {
         tabs: ["@TabName.WaitingImportOrd","@TabName.CompletedOrder"],
         field: 'description', caption: '@captions.description', size: '10%',
      },
      {
         tabs: ["@TabName.CanceledImportOrd"],
         field: 'description', caption: '@captions.cancelDescription', size: '10%',
      },
   ];

   var _records = [
      @{ var recordFields = new string[6]; }
      @foreach (var item in Model.ImportOrders)
      {
         recordFields[0] = "id:" + $" '{ item.Id }' ";
         recordFields[1] = "createddate:" + $" '{ item.ExpectedDeliveryDate }' ";
         recordFields[2] = "completeddate:" + $" '{ item.CompletedDate}' ";
         recordFields[3] = "expecteddeliverydate:" + $" '{ item.ExpectedDeliveryDate }' ";
         recordFields[4] = "orderstatus:" + $" '{ item.ImportStatus.Value }' ";
         recordFields[5] = "description:" + $" '{ item.Description }' ";

         @Html.Raw("{ " + String.Join(',', recordFields) + " }," );
      }
   ];

   $().w2grid({
      name: '_grid',
      recid: 'id',
      show: {
         selectColumn: true,
         lineNumbers: true,
      },
      multiSelect: true,
      columns: _columns.filter(p => {
         if (p.tabs)
            return p.tabs.find(p => p == '@ViewBag.TabName')
         return true;      // neu khong dinh nghia p.tabs, mac dinh la lay cho tat ca
      }),
      records: _records,
      onRender: function (e) {
         e.onComplete = function () {
            this.refresh();
         }
      }
   });
</script>

<!-- /* RENDER GRID PAGINATION  */-->
<script hide>
   var currentPage = @Model.CurrentPage, totalItems = @Model.TotalItems, pageSize = @Model.PageSize;
   const PAGINATION = _w2uiPagination(currentPage, totalItems, pageSize);
   PAGINATION.init();

   $().w2layout({
      name: '_pagination',
      panels: [
         {
            type: 'top', size: 35,
            content: `
               <div style="height:35px;">
                  @await Html.PartialAsync("_W2uiPaginationPartial", new
                   {
                      CurrentPage = Model.CurrentPage,
                      TotalItems = Model.TotalItems,
                      PageSize = Model.PageSize
                   })
               </div>`,
         },
      ]
   });
</script>

<!-- /* Đưa giao diện lên View  */-->
<script hide>
   $().w2layout({
      name: '_import_order_index',
      panels: [
         { type: 'top', size: 30, style: panelStyle },     // tabs,
         { type: 'main' },    // product listview
      ]
   });

   $().w2layout({
      name: '_import_order_index_top',
      panels: [
         { type: 'left', size: '70%' },     // tabs,
         { type: 'right', size: '30%' },    // tab controls
      ]
   });

   $().w2layout({
      name: '_toolbar',
      panels: [
         { type: 'top', size: '50', style: panelStyle },     // tabs,
      ]
   });
   w2ui['_toolbar'].content('top', w2ui['_toolbar_top']);

   $().w2layout({
      name: '_import_order_index_main',
      panels: [
         { type: 'top', size: 50 },     // toolbar,
         { type: 'main' },     // grid
         { type: 'bottom', size: 35, style: panelStyle }    // pagination
      ]
   });

   w2ui['_import_order_index_top'].content('left', w2ui['_tabs']);
   w2ui['_import_order_index_top'].content('right', w2ui['_tab_toolbar']);

   w2ui['_import_order_index_main'].content('top', w2ui['_toolbar']);

   w2ui['_import_order_index_main'].content('main', w2ui['_grid']);
   w2ui['_import_order_index_main'].content('bottom', w2ui['_pagination']);

   w2ui['_import_order_index'].content('top', w2ui['_import_order_index_top']);
   w2ui['_import_order_index'].content('main', w2ui['_import_order_index_main']);

   w2ui['_main_content'].content('main', w2ui['_import_order_index']);
</script>


@section ViewScripts {
   <script hide src="~/js/Views/ImportOrder/Index.js"></script>
}