@using OnlineStoreManager.Infracstructure;
@using OnlineStoreManager.Database.Models;
@using System.ComponentModel.DataAnnotations;
@using OnlineStoreManager.Repository;
@model OnlineStoreManager.Models.ViewModels.ImportOrderModifyViewModel
@{ Layout = null; }

@{
   var o = new ImportOrder();
   string idTitle = (string)o.PropAttrValue
      <ImportOrder, DisplayAttribute>("Id", "Name"),
      deliveryDateTitle = (string)o.PropAttrValue
      <ImportOrder, DisplayAttribute>("ExpectedDeliveryDate", "Name"),
      statusTitle = (string)o.PropAttrValue
      <ImportOrder, DisplayAttribute>("ImportStatusId", "Name"),
      descriptionTitle = (string)o.PropAttrValue
      <ImportOrder, DisplayAttribute>("Description", "Name");

   ImportOrder formValues = new ImportOrder();
   if (Model.Action == CRUD.Update)
   {
      formValues.AssignProperties(Model.ImportOrder);
   }
}
@*truyền options cho từng input để tạo w2ui form (render tại client)*@

@*
   Id
   Discount
   ExpectedDeliveryDate
   WarehouseId
   ImportStatusId
   CancelDescription
   Description
*@

<div class="w2ui-field">
   <label>@idTitle</label>
   <div> <input w2field="text" value="@formValues.Id" name="id" /> </div>
</div>


<div class="w2ui-field">
   <label>@deliveryDateTitle</label>
   <div> <input w2field="date" value="@formValues.ExpectedDeliveryDate" name="expecteddeliverydate" /> </div>
</div>


<div class="w2ui-field">
   <label>@statusTitle</label>
   <div> <input w2field="list" value="@formValues.ImportStatusId" name="importstatusid" /> </div>
</div>


<div class="w2ui-field">
   <label>@descriptionTitle</label>
   <div> <input w2field="text" value="@formValues.Description" name="description" /> </div>
</div>
