@using OnlineStoreManager.Infracstructure
@inject IPageMaster PageMaster

<div id="_app_icon">
   <div class="flex_center" style="height:58px;">
      <img src="/icons/app.svg" style="height: 32px;margin-right: 14px;" />
      <h5> EcomManager </h5>
   </div>
</div>


<script hide>
   var appIcon = htmlToString("#_app_icon", true);

   $().w2layout({
      name: '_app_navigations',
      panels: [
         {
            type: 'top', size: 60, style: panelStyle, content: appIcon   // app icon, size = header
         },
         {
            type: 'main', style: "padding-top:40px;"
         },
      ]
   });

   $().w2sidebar({
      name: '_navigations_main',
      style: panelStyle,
      nodes: [
         {
            id: 'level-0', text: '@PageMaster.GetPageName(PageName.Summary)',  expanded: true, group: true,
            nodes: [
               {
                  id: 'level-0-1', text: '@PageMaster.GetTabName(TabName.Revenue)',
                  selected: @(ViewBag.TabName == TabName.Revenue ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Revenue',
               },
            ]
         },
         {
            id: 'level-1', text: '@PageMaster.GetPageName(PageName.Order)',  expanded: true, group: true,
            nodes: [
               {
                  id: 'level-1-1', text: '@PageMaster.GetTabName(TabName.Order)',
                  selected: @(ViewBag.TabName == TabName.Order ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Order',
               },
            ]
         },
         {
            id: 'level-3', text: '@PageMaster.GetPageName(PageName.Product)',  expanded: true, group: true,
            nodes: [
               {
                  id: 'level-3-1', text: '@PageMaster.GetTabName(TabName.Product)',
                  selected: @(ViewBag.TabName == TabName.Product ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Product',
               },
               {
                  id: 'level-3-2', text: '@PageMaster.GetTabName(TabName.Category)',
                  selected: @(ViewBag.TabName == TabName.Category ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Category',
               },
               {
                  id: 'level-3-3', text: '@PageMaster.GetTabName(TabName.Supplier)',
                  selected: @(ViewBag.TabName == TabName.Supplier ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Supplier',
               }
            ]
         },
         {
            id: 'level-4', text: '@PageMaster.GetPageName(PageName.Admin)',  expanded: true, group: true,
            nodes: [
               {
                  id: 'level-4-1', text: '@PageMaster.GetTabName(TabName.Account)',
                  selected: @(ViewBag.TabName == TabName.Account ? "true" : "false"),
                  onClick: () => window.location = '/@TabName.Account',
               },
            ]
         },
      ]
   });

   w2ui['_app_navigations'].content('main', w2ui['_navigations_main']);

   w2ui['_layout'].content('left', w2ui['_app_navigations']);
</script>