@using OnlineStoreManager.Infracstructure;
@using OnlineStoreManager.Database.Models;
@using OnlineStoreManager.Repository;
@model OnlineStoreManager.Models.ViewModels.Products.ProductModifyViewModel
@{ Layout = null; }
@{
   Product formValues = new Product();
   string categoryName = "", supplierName = "";
   if (Model.Action == CRUD.Update)
   {
      formValues.AssignProperties(Model.Product);
      categoryName = formValues.Category.Name;
      supplierName = formValues.Supplier.Name;
   }
}


<div class="flex" style="background-color:#fafafa">

   <div class="flex-col align-center" style="margin-right:1rem;padding:1rem;">
      <img class="product-img" src="/_product-images/@formValues.ImageUrl" 
           style="width: 150px;height: 170px;background-color:red;" />

      <input type="file" name="photo"
             accept=".jpg,.png,.jpeg" style="object-fit:cover;object-position:center;"/>
      <button class="medium_btn" style="background-color: #5f84e8;
      margin-top: 1rem;"
              onclick="selectPhoto()">
         Thay đổi
      </button>

      <script>
         function selectPhoto() {
            $('input[name="photo"]').trigger('click');
         }

         $('input[name="photo"]').css({ 'display': 'none' });
         $('input[name="photo"]').change(function (e) {
            var input = e.target;
            if (input.files && input.files[0]) {
               var reader = new FileReader();
               reader.onload = function (e) {
                  $('.product-img').attr('src', e.target.result)
               };
               reader.readAsDataURL(input.files[0]);
            }
         })
      </script>
   </div>

   <div class="form-container" style="width:400px;">
      <div class="field-set">
         @if (formValues.Id != null)
         {
            <div class="field">
               <div class="inline-field">
                  <label> Mã sản phẩm: </label>
                  <input type="text" disabled name="id" value="@formValues.Id" />
               </div>
            </div>
         }

         <div class="field ">
            <label> Tên sản phẩm: </label>
            <input type="text" name="name" value="@formValues.Name" />
            <span class="validation" for="RequestProduct.Name"></span>
         </div>
      </div>

      <div class="field-set">
         <div class="field ">
            <label> Giá nhập: </label>
            <input type="number" name="cost" value="@formValues.Cost" />
            <span class="validation" for="RequestProduct.Cost"></span>
         </div>

         <div class="field ">
            <label> Giá bán: </label>
            <input type="number" name="price" value="@formValues.Price" />
            <span class="validation" for="RequestProduct.Price"></span>
         </div>
      </div>

      <div class="field-set">
         <div class="field" style="position:relative;">
            <label> Thuộc danh mục: </label>
            <input id="categoryname" type="text" name="categoryname" value="@categoryName" />
            <span class="validation" for="RequestProduct.CategoryName"> </span>
         </div>

         <div class="field" style="position:relative;">
            <label> Nhà cung cấp: </label>
            <input id="suppliername"
                   type="text" name="suppliername" value="@supplierName" />
            <span class="validation" for="RequestProduct.SupplierName"></span>
         </div>
      </div>

      <div class="field-set">
         <div class="field">
            <label> Mô tả: </label>
            <textarea type="number" rows="8"
                      name="description">@formValues.Description</textarea>
         </div>
      </div>
   </div>
</div>


