@using OnlineStoreManager.Infracstructure;
@model OnlineStoreManager.Models.ViewModels.WarehouseIndexViewModel
@inject IPageMaster PageMaster
<!-- /* RENDER TABS */ -->
<script hide>
   $().w2tabs({
      name: '_tabs',
      active: '@ViewBag.TabName',
      style: 'display:flex;align-items:center;',
      tabs: [
         { id: '@TabName.Product', text: '@PageMaster.GetTabName(TabName.Product)' },
         { id: '@TabName.Stock', text: '@PageMaster.GetTabName(TabName.Stock)' },
      ],
      onClick: function (event) {
         window.location.replace(`/?TabName=${event.target}`);
      }
   });
</script>

<!-- /*  RENDER GRID TOOLBAR */ -->
<script hide>

   var toolbarItemStyle = 'margin: 0 3.5px;';
   var _toolbarItems = [
      {
         type: 'html',
         html: function (item) {
            return `<button class="_small_btn" style="${toolbarItemStyle}" `
               + `      onclick="WAREHOUSE_PAGE.onAdd()">`
               + `      <img class="small_icon" src="/icons/add.svg"/>`
               + `       Tạo mới `
               + `</button>`;
         },
      },
      {
         type: 'html',
         html: () => {
            return `<button class="_small_btn" style="${toolbarItemStyle}"
                  onclick="WAREHOUSE_PAGE.onDelete()">
                  <img class="small_icon" src="/icons/cancel.svg"/>
                  Xóa
               </button>`;
         },
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn" style="${toolbarItemStyle}"
                     onclick="WAREHOUSE_PAGE.onEdit()">
                     <img class="small_icon" src="/icons/pen.svg"/>
                     Chỉnh sửa
                  </button>`;
         },
      },
      {
         type: 'break',
         style: 'margin: 0 21px;',
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn flex_center" style="${toolbarItemStyle}">
                     <div class="flex_center">
                         <img class="small_icon" src="/icons/filter.svg"/>
                        <span style="margin-right: 7px;"> Lọc nâng cao </span>
                        <span class="filter_counter"> 3 </span>
                     </div>
                  </button>
               `;
         }
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <input class="toolbar_input" type="text"
                     extend_query="SearchText" submit_on_keypress
                     placeholder="Tìm kiếm ... "
                     style="padding-right: 30px; width: 150px; ${toolbarItemStyle}"/>`;
         }
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button style="margin-left: -27px;">
                      <img class="small_icon" src="/icons/search.svg"/>
                  </button>`;
         }
      },
      {
         type: 'break',
         style: 'margin: 0 21px;',
      },
      {
         type: 'html',
         html: function (item) {
            return `
                  <button class="_small_btn" style="${toolbarItemStyle}"
                     onclick="window.location.search='?TabName=@ViewBag.TabName'">
                     <img class="small_icon" src="/icons/reload.svg"/>
                     Tải lại </button>`;
         }
      },
   ];

   $().w2toolbar({
      name: '_toolbar',
      style: 'height:50px;padding-top:11px;',
      items: _toolbarItems.filter(p => {
         if (p.tabs)
            return p.tabs.find(p => p == '@ViewBag.TabName')
         return true;      // neu khong dinh nghia p.tabs, mac dinh la lay cho tat ca
      })
   });
</script>

<!-- /*  RENDER GRID */ -->
<script hide>

   var _columns = [
      // Product Tab Grid Columns
      { field: 'recid', caption: 'ID', size: '5%'},
      // Warehouse Tab Grid Columns
      { field: 'name', caption: 'Tên danh mục', size: '30%', tabs: ["@TabName.Warehouse"]},
      { field: 'description', caption: 'Mô tả', size: '65%', tabs: ["@TabName.Warehouse"]},
   ];

   var _records = [
      @foreach (var item in Model.Warehouses)
      {
         var recordFields = new string[3];
         recordFields[0] = "recid:" + $" '{ item.Id }' ";
         recordFields[1] = "name:" + $" '{ item.Name }' ";
         recordFields[2] = "description:" + $" '{ item.Description }' ";

         @Html.Raw("{ " + String.Join(',', recordFields) + " }," );
      }
   ];

   $().w2grid({
      name: '_grid',
      show: {
         selectColumn: true,
         lineNumbers: true,
      },
      multiSelect: true,
      columns: _columns.filter(p => {
         if (p.tabs)
            return p.tabs.find(p => p == '@ViewBag.TabName')
         return true;      // neu khong dinh nghia p.tabs, mac dinh la lay cho tat ca
      }),
      records: _records
   });
</script>

<!-- /* RENDER GRID PAGINATION  */-->
<script hide>
   var currentPage = @Model.CurrentPage, totalItems = @Model.TotalItems, pageSize = @Model.PageSize;
   const PAGINATION = _w2uiPagination(currentPage, totalItems, pageSize);
   PAGINATION.init();

   $().w2layout({
      name: '_pagination',
      panels: [
         {
            type: 'top', size: 35,
            content: `
               <div style="height:35px;">
                  @Html.Partial("_W2uiPaginationPartial", new
                   {
                      CurrentPage = Model.CurrentPage,
                      TotalItems = Model.TotalItems,
                      PageSize = Model.PageSize
                   })
               </div>`,
         },
      ]
   });
</script>

<!-- /* Đưa giao diện lên View  */-->
<script hide>
   $().w2layout({
      name: '_warehouse_index',
      panels: [
         { type: 'top', size: 30, style: panelStyle },     // tabs,
         { type: 'main' },    // product listview
      ]
   });

   $().w2layout({
      name: '_warehouse_index_top',
      panels: [
         { type: 'left', size: '100%' },     // tabs,
         { type: 'right', size: '0%' },    // tab controls
      ]
   });

   $().w2layout({
      name: '_warehouse_index_main',
      panels: [
         { type: 'top', size: 50, style: panelStyle },     // toolbar,
         { type: 'main' },     // grid
         { type: 'bottom', size: 35, style: panelStyle }    // pagination
      ]
   });

   w2ui['_warehouse_index_top'].content('left', w2ui['_tabs']);
   w2ui['_warehouse_index_top'].content('right', w2ui['_tabs_controls']);

   w2ui['_warehouse_index_main'].content('top', w2ui['_toolbar']);
   w2ui['_warehouse_index_main'].content('main', w2ui['_grid']);
   w2ui['_warehouse_index_main'].content('bottom', w2ui['_pagination']);

   w2ui['_warehouse_index'].content('top', w2ui['_warehouse_index_top']);
   w2ui['_warehouse_index'].content('main', w2ui['_warehouse_index_main']);

   w2ui['_main_content'].content('main', w2ui['_warehouse_index']);
</script>


@section ViewScripts {
   <script hide src="~/js/Views/Warehouse/Index.js"></script>
}