@using OnlineStoreManager.Infracstructure;
@using OnlineStoreManager.Database.Models;
@using System.ComponentModel.DataAnnotations;
@using OnlineStoreManager.Repository;
@model OnlineStoreManager.Models.ViewModels.OrderModifyViewModel
@{ Layout = null; }
@{
   var o = new Order();
   string idTitle = (string)o.GetPropertyAttributeValue
      <Order, DisplayAttribute>("Id", "Name"),
        desTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("Description", "Name"),
        addressTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("DeliveryAddress", "Name"),
        nameTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("ReceiverName", "Name"),
        phoneTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("ReceiverPhoneNumber", "Name"),
        cancelTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("CancelDescription", "Name"),
        paidTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("PaymentDate", "Name"),
         deliveryDateTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("ExpectedDeliveryDate", "Name"),
        statusTitle = (string)o.GetPropertyAttributeValue
           <Order, DisplayAttribute>("OrderStatusId", "Name");

   Order formValues = new Order();
   if (Model.Action == CRUD.Update)
   {
      formValues.AssignProperties(Model.Order);
   }
}
@*truyền options cho từng input để tạo w2ui form (render tại client)*@

@*
   recid
   ReceiverName
   DeliveryAddress
   ReceiverPhoneNumber
   PaymentDate
   ExpectedDeliveryDate
   OrderStatus
   CancelDescription
   Description
*@

<div class="w2ui-field">
   <label>@idTitle</label>
   <div> <input w2field="text" value="@formValues.Id" name="id" /> </div>
</div>

<div class="w2ui-field">
   <label>@nameTitle</label>
   <div> <input w2field="text" value="@formValues.ReceiverName" name="receivername" /> </div>
</div>

<div class="w2ui-field">
   <label>@addressTitle</label>
   <div>
      <input w2field="text" value="@formValues.DeliveryAddress" name="deliveryaddress" />
   </div>
</div>
<div class="w2ui-field">
   <label>@phoneTitle</label>
   <div>
      <input w2field="text" value="@formValues.ReceiverPhoneNumber" name="receiverphonenumber" />
   </div>
</div>
<div class="w2ui-field">
   <label>@paidTitle</label>
   <div>
      <input w2field="date" value="@formValues.PaymentDate" name="paymentdate" />
   </div>
</div>
<div class="w2ui-field">
   <label>@deliveryDateTitle</label>
   <div>
      <input w2field="date" value="@formValues.ExpectedDeliveryDate" name="expecteddeliverydate" />
   </div>
</div>

<div class="w2ui-field">
   <label>@statusTitle</label>
   <div> <input w2field="text" value="@formValues.OrderStatus." name="receivername" /> </div>
</div>

<div class="w2ui-field">
   <label>@cancelTitle</label>
   <div> <input w2field="text" value="@formValues.CancelDescription" name="canceldescription" /> </div>
</div>

<div class="w2ui-field">
   <label>@desTitle</label>
   <div> <input w2field="text" value="@formValues.Description" name="description" /> </div>
</div>